body {
    background-color:black;
}

h1 {
    text-align: center;
    color:white;
}


input {
    color:yellow;
    background-color:black;
    border-color: white;
    height: 100;
    width: 100;
}
    
p {
    color:white;
}

.extra {
    color:yellow;
    border: 2px solid white;
    text-align: center;
    width: 150;
    margin-top: 795;
    float: right;
    font-size: 15;
    height: 15;
}

.home {
    margin-left: 20;
}