<html>

<body>

    <head>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/Home.css') }}">
    </head>
    <h1> Home </h1>


    <a href="Schedule.html">
        <input type="submit" value="Schedule" class=one>
    </a>


    <a href="Water%20Amount.html">
        <input type="submit" value="Water Amount" class=two>
    </a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <a href="Changelog.html">
        <input type="submit" value="Changelog" class=three>
    </a>

    <input value="Implement Time Features Here" class=four>


</body>

</html>