<html>
<body>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Schedule.css') }}">
    </head>

    <h1> Schedule </h1>

    <a href="Home.html">
        <input type = "submit" value = "Home" class = "home">
    </a>

    <br>
    <br>
    <br>

    <span>
        <input type = "button" value = "^" class = "first"/>
            <div class = "middle"> Interval:
                <p> {} Hours </p> 
            </div>
        <input type = "button" value = "v" class = "last"/>
    </span>

    <form action = "{{ url_for("schedule")}}" method = "post">

</body>
</html>